@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
}
nav{
	background-color: #B8AE5C;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 145px;
	align-items: center;
}
.menu{
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

.menu li {
	color: white;
	padding: 15px;
	
}

.menu-box{
	display:none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 100%;
}

.menu-icon, .menu-icon::before, .menu-icon::after{ /* selve stregerne til "burgermenuen"*/
	display: block;
	background-color: white;
	height: 6px;
	width: 30px;
	position: absolute;
	border-radius: 10px; /* afrunder hjørnerne*/
	transition: transform 10ms;
	
}
.menu-icon::before{
	content:"";
	margin-top: -8px;
}
.menu-icon::after{
	content:"";
	margin-top: 8px;
}

#menu-activate:checked + .menu-box .menu-icon::before{
	margin-top: 0;
	transform: rotate(45deg);
	
}

#menu-activate:checked + .menu-box .menu-icon::after{
	margin-top: 0;
	transform: rotate(-45deg);
	
}

#menu-activate:checked + .menu-box .menu-icon{
	background-color: rgba(0,0,0,0);
	
}
#menu-activate{
	display: none;
}

@media screen and (max-width: 700px){
	.menu-box{
		display:flex;
	}
	.menu{
		position: absolute;
		top:0;
		right: 0;
		margin-top: 75px;
		background-color:#756E33;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	#menu-activate ~ .menu li{
		height: 0;
		margin: 0;
		padding: 0;
		transition: height 1s;
		
	}
	#menu-activate:checked ~ .menu li{
		height: 50px;
		padding: 10px;
		transition: height 1s;
	}
	
}
.mainsbackgroundpicture{
	background-image: url("img/winterspring.jpg");
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	background-position: center;
	align-items: center;
	align-content: center;
}
iframe{
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
}
.achievementbackgroundpicture{
	background-image: url("img/uldum.jpg");
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	background-position: center;
	align-items: center;
	align-content: center;
}
.projectbackgroundpicture{
background-image: url("img/durotar.jpg");
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	background-position: center;
	align-items: center;
	align-content: center;
}
.contactbackgroundpicture{
	background-image: url("img/meingame.png");
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	background-position: center;
	align-items: center;
	align-content: center;
}

h1 {
font-family: "ff-brokenscript-web", serif;
font-weight: 700;
font-style: normal;
color: white;
text-align: center;
position: absolute;
left: 40%;
top: 45px;
}

h2 {
font-family: "ff-brokenscript-web", serif;
font-weight: 700;
font-style: normal;
color: white;
text-align: center;
position: absolute;
left: 30%;
top: 70px;
}
#descriptiontext{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: white;
	background: none;
	text-align: center;
	justify-content: center;
 	font-size: 23px;
	font-weight: bolder;
	max-width: 700px;
	position: absolute;
	left: 25%;
	
}

#listitems{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: white;
	position: absolute;
	left: 0;
	font-size: 20px;
}

#listitems a:hover{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color:#0066CC /* the actual color code for links */
}
#listitems a{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: white;
}

.leftdescripitiontitle{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color:white;
	position: absolute;
	left: 40px;
	top: 40px;
	
}
.myimage{
	position: absolute;
	right:0;
	bottom: 0;
}



/*@media screen and (max-width: 700px) {
    .mainsbackgroundpicture {
        height: 100vh;
    }
	#descriptiontext{
		font-size: 20px;
		max-width: 600px;
		text-align: center;
		position: absolute;
		display: flex;
	}
	#descriptivetitel{
		font-size: 20px;
		max-width: 600px;
		text-align: center;
		position: absolute;
		display: flex;
	}
}

		
	